version: '3.8'

services:
  # Servicio 1: Backend (Java Spring Boot)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: showpass_backend
    ports:
      - "8080:8080"
    # Asegura que el backend espere a que el servicio de recomendación esté listo
    depends_on:
      - recomendacion-servicio
    environment:
      # --- VARIABLES CLAVE PARA LA CONEXIÓN EXTERNA ---
      SPRING_PROFILES_ACTIVE: docker

    # HEALTHCHECK NECESARIO para asegurar que el backend está LISTO
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 5s
      timeout: 3s
      retries: 10

  # Servicio 2: Servicio de Recomendación (Python FastAPI)
  busqueda-recomendacion-servicio:
    build:
      context: ./busqueda_y_recomendacion_servicio
      dockerfile: Dockerfile
    container_name: showpass_busqueda_recomendador
    ports:
      - "8000:8000"
    # Reinicia automáticamente en caso de fallo
    restart: always

    # EL RECOMENDADOR NO ARRANCARÁ HASTA QUE EL BACKEND ESTÉ SANO
    depends_on:
      backend:
        condition: service_healthy

  # Servicio 3: Frontend Web (React/Vite)
  frontend-web:
    build:
      context: ./frontend/appWebShowPass
      dockerfile: Dockerfile
    container_name: showpass_frontend_web
    ports:
      - "80:80" # El puerto 80 del contenedor se mapea al 80 del host
    # El frontend web necesita que el backend esté listo para funcionar
    depends_on:
      - backend

    #Network debe crearse automaticamente