version: '3.8'

services:
  # Servicio 1: Backend (Java Spring Boot)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: showpass_backend
    ports:
      - "8080:8080"
    environment:
      # --- VARIABLES CLAVE PARA LA CONEXIÓN EXTERNA ---
      SPRING_PROFILES_ACTIVE: docker
      BACKEND_HOST_IP: 0.0.0.0 # Escuchar en todas las interfaces

    # HEALTHCHECK NECESARIO para asegurar que el backend está LISTO
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 5s
      timeout: 3s
      retries: 10

  # Servicio 2: Servicio de Recomendación y Busqueda (Python FastAPI)
  recomendacion-servicio:
    build:
      context: ./serviceML
      dockerfile: Dockerfile
    container_name: showpass_ml_service
    ports:
      - "8000:8000"
    # Reinicia automáticamente en caso de fallo
    restart: always

    # EL RECOMENDADOR NO ARRANCARÁ HASTA QUE EL BACKEND ESTÉ SANO
    depends_on:
      backend:
        condition: service_healthy

  # Servicio 3: Frontend Web (React/Vite)
  frontend-web:
    build:
      context: ./frontend/appWebShowPass
      dockerfile: Dockerfile
    container_name: showpass_frontend_web
    ports:
      - "80:80" # El puerto 80 del contenedor se mapea al 80 del host
   
    depends_on:
      backend:  # El frontend web necesita que el backend esté listo para funcionar
        condition: service_healthy

    #Network debe crearse automaticamente