@import "tailwindcss";

body {
  @apply bg-blue-100 text-white;
}

/* Transiciones suaves para el cambio de tema */
html,body,#root {
  @apply transition-colors duration-500 ease-in-out;
}



/* Estilos para el modo oscuro */
.dark body {
  @apply bg-gray-900 text-white;
}

.dark .oscuro {
  @apply bg-gray-800 text-gray-400;
}

.dark .oscuroBox {
  @apply bg-gray-900 text-gray-400;
}

.dark .oscuroTextoGris {
  @apply text-gray-400;
}

.dark .oscuroBtn {
  @apply bg-gray-700 text-gray-300 hover:bg-gray-600;
}

.dark .oscuroEvento {
  @apply text-gray-400;
}

.claroEvento {
  @apply text-gray-800;
}

.dark .fondoOscuro {
  @apply bg-gray-900;
}

.fondoClaro {
  @apply bg-white;
}

.claro {
  @apply bg-white
}


/* Fondo de patrón */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: repeating-linear-gradient(90deg, #6d7d8d 0px, #2b6cb0 2px, transparent 2px, transparent 40px);
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(0deg, #6d7d8d 0px, #2b6cb0 2px, transparent 2px, transparent 40px), repeating-linear-gradient(90deg, #6d7d8d 0px, #2b6cb0 2px, transparent 2px, transparent 40px);
  opacity: 0.05;
  z-index: -1;
  pointer-events: none;
}